stockquote.wsdl

<?xml version ='1.0' encoding ='UTF-8' ?>
<definitions name='StockQuote'
  targetNamespace='urn:StockQuote'
  xmlns:tns='urn:StockQuote'
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/'
  xmlns:xsd='http://www.w3.org/2001/XMLSchema'
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/'
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/'
  xmlns='http://schemas.xmlsoap.org/wsdl/'>

<!--
<message name='getFooRequest'>
  <part name='symbol' type='xsd:string'>
</message>
<message name='getFooResponse'>
  <part name='Result' type='xsd:string'>
</message>

<portType name'FooPortType'>
  <operation name='getFoo'>
    <input message='tns:getFooRequest'/>
    <output message='tns:getFooResponse'/>
  </operation>
</portType>

<binding name='FooBinding' type='tns:FooPortType'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http/'/>
  <operation name='getFoo'>
    <soap:operation soapAction='urn:xmethods-delayed-foo#getFoo'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-foo' encodingStyle='http://schemas.xmlsoap.org/soap/encoding'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-foo' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'>
    </output>
  </operation>
</binding>

<sevice name='FooService'>
  <port name='FooPort' binding='FooBinding'>
    <soap:address location='http://localhost/soap/server.php'/>
  </port>
</service>
-->

<message name='getQuoteRequest'>
  <part name='symbol' type='xsd:string'/>
</message>
<message name='getQuoteResponse'>
  <part name='Result' type='xsd:float'/>
</message>

<portType name='StockQuotePortType'>
  <operation name='getQuote'>
    <input message='tns:getQuoteRequest'/>
    <output message='tns:getQuoteResponse'/>
  </operation>
</portType>

<binding name='StockQuoteBinding' type='tns:StockQuotePortType'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getQuote'>
    <soap:operation soapAction='urn:xmethods-delayed-quotes#getQuote'/>
    <input>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </input>
    <output>
      <soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
    </output>
  </operation>
</binding>

<service name='StockQuoteService'>
  <port name='StockQuotePort' binding='StockQuoteBinding'>
    <soap:address location='http://localhost/soap/server.php'/>
  </port>
</service>

</definitions>